jupyterlab
pandas
numpy
matplotlib
seaborn
scipy
streamlit
# nb2xls
folium
scikit-learn
geopandas
geopy
pyproj
langchain
langchain-community
langchain-ollama
# unstructured
# pdf2image
# pdfminer
# pdfminer.six
# onnx
# opencv-python
# unstructured-inference
chromadb

 